.login-box {
  min-height: 420px;
  border-radius: 42px;
  background: #f5f1f1;
  box-shadow: 11px 11px 29px #cbcbcb, -11px -11px 29px #f0f0f0;
}
.form-control {
  border-radius: 25px;
}
.btn-primary {
  box-shadow: 11px 11px 29px #bdb8b8, -11px -11px 29px #f1eaea;
}
