<app-auth-content>
  <div class="app-title">
    <div>
      <h1><i class="fa fa-users"></i> รายการสมาชิก</h1>
      <p>หน้าแสดงรายการสมาชิก</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a>ส่วนของสมาชิก</a></li>
      <li class="breadcrumb-item">
        <a>รายการสมาชิก</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="overlay" [ngClass]="loadingOverlay" >
          <div class="m-loader mr-4">
            <svg class="m-circular" viewBox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10" />
            </svg>
          </div>
          <h3 class="l-text">Loading</h3>
        </div>
        <div class="tile-title-w-btn">
          <h3 class="title">
            <i class="fa fa-list"></i> รายการข้อมูลสมาชิก
          </h3>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{searchType.value}}
                  <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
                  <li *ngFor="let item of searchTypeItems" role="menuitem">
                    <a class="dropdown-item" (click)="searchType = item">
                      {{item.value}}
                    </a>
                  </li>
                </ul>
              </div>
              <div [ngSwitch]="searchType.key" >
                <input *ngSwitchCase="'updated'" bsDaterangepicker placement="left" type="text" [(ngModel)]="searchText" class="form-control"
                  placeholder="ค้นหาข้อมูล">
                <input *ngSwitchDefault type="text" [(ngModel)]="searchText" class="form-control"
                  placeholder="ค้นหาข้อมูล">
              </div>
              <div class="input-group-append">
                <button (click)="onSearchItem()" class="btn btn-primary" type="button" id="button-addon1">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="tile-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>อีเมล์</th>
                  <th>ชื่อ</th>
                  <th>นามสกุล</th>
                  <th>ตำแหน่ง</th>
                  <th>สิทธิ์ผู้ใช้</th>
                  <th>วันที่</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items.items">
                  <td>{{ item.email }}</td>
                  <td>{{ item.firstname }}</td>
                  <td>{{ item.lastname }}</td>
                  <td>{{ item.position }}</td>
                  <td>{{ getRoleName(item.role) }}</td>
                  <td>{{ item.updated | date:'dd-MM-yyyy'}}</td>
                  <td class="text-right">
                    <i (click)="onUpdateMember(item)" class="fa fa-edit cur"></i>
                    <span> | </span>
                    <i (click)="onDeleteMember(item)" class="fa fa-trash cur"></i>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="7">
                    จำนวนสมาชิกทั้งหมด {{items.totalItems}} คน
                  </th>
                </tr>
              </tfoot>
            </table>
            <pagination [(ngModel)]="startPage" [itemsPerPage]="limitPage" (pageChanged)="onPageChanged($event)"
              previousText="ก่อนหน้า" nextText="ถัดไป" [rotate]="false" [maxSize]="5" [totalItems]="items.totalItems">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-auth-content>
